/rt.work
/dialyzer_warnings
/epm.cmd
/deps
/.epm
/epm
/.eunit
_checkouts
.epm
epm
epm.cmd
epm.ps1
_build
.depsolver_plt
*.beam
logs
*~
*.orig
.*.swp
priv/templates/*.dtl.erl
test/*_data
ebin
deps
.edts
env
# epm_core artifact
src/erlpm/erlpm_safe_erl_term.erl
.idea/
