_checkouts
.epm
epm
epm.cmd
epm.ps1
_build
.depsolver_plt
*.beam
test/*_data
logs
/epm
*~
*.orig
.*.swp
/rt.work
/dialyzer_warnings
/epm.cmd
/deps
/.eunit
/.epm
priv/templates/*.dtl.erl
ebin
.edts
env

# epm_core artifact
src/vendor/erlpm_safe_erl_term.erl
.idea/
